<nav class="bg-gray-800 text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <span class="text-xl font-bold">MonSite</span>
    <ul class="flex space-x-4">
      <li><a href="#" class="hover:underline">Accueil</a></li>
      <li><a href="#" class="hover:underline">À propos</a></li>
      <li><a href="#" class="hover:underline">Contact</a></li>
    </ul>
  </div>
</nav>
